
body{
    text-align: center;
    /* display:flex; */
    justify-content: center; 
   
}
.btn1{
    background-color: aqua;
    border: 5px solid rgb(228, 243, 17);
    border-radius: 8px;
}
div{
    height: 500px;
    width:50vw ;
    /* width: 50vw; */
    margin: auto;
    margin-top: 10px;
    
    
  
    border: 10px solid rgb(60, 21, 177);
}